*	{
	margin: 0px;
	padding: 0px;
}

body	{
	background: #fafafa;
}

a	{
	text-decoration: none;
}

#heading	{
	color: rgba(0,0,0,0.64);
	background: #F5F5F5;
	line-height: 90px;
	font-size: 40px;
	margin-bottom: 90px;
	padding-left: 100px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}


#rec3	{
	height: 400px;
	width: 900px;
	background: #ffffff;
	margin: 0px auto;
	border-radius: 6px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}

#addhead	{
	font-size: 25px;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 40px;
	color: rgba(0,0,0,0.5);
}

#rec4	{
	width: 500px;
	margin: 0px auto
}

input	{
	width: 100%;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	height: 40px;
	outline-color: rgba(0,0,0,0.2);
}

input[placeholder]	{
	padding-left: 50px;
	color: rgba(0,0,0,0.5);
}

select	{
	margin-top: 15px;
}

#submitbutton:hover	{
	background: rgba(0,0,0,0.2);
	color: white;
	cursor: pointer;
}